body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: powderblue;
}

p {
    font-size: 20px;
}

ul {
    padding-left: 1.5em;
    margin: 0.5em 0;
}

li {
    margin: 0.3em 0;
}

.profile-pic {
    display: inline-block;
    margin: 10px auto;
}

.sports img {
    display: inline-block;
    margin: 10px auto;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* left wider, right narrower */
    gap: 30px;
    margin-top: 30px;
}

.left-column {
    grid-column: 1;
}

.right-column {
    grid-column: 2;
}